:root {
    /*Cores */
    --cor-principal: rgb(59, 84, 168);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-terciaria: rgb(0, 204, 255);
    --cor-txt-principal: rgb(0, 0, 0);
    --cor-txt-secundaria: rgb(255, 255, 255);
    /* Espaçamentos*/
    --espacamento-pequeno: 5px;
    --espacamento-regular: 7px;
    --espacamento-grande: 12px;
}